/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Arial Rounded MT';
  src: url('webfonts/ArialRoundedMTBold.woff2') format('woff2'),
      url('webfonts/ArialRoundedMTBold.woff') format('woff'),
      url('webfonts/ArialRoundedMTBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --arialRoundedMT: 'Arial Rounded MT';
}
*,::before,::after {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--arialRoundedMT);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-layout {
  width: 1300px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-top {
  background: var(--theme__color1);
  color: #fff;
}
.header-top-inner {
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.announcment  {
  font-size: 16px;
  text-align: center;
}
.announcment .sp-img {
  width: 25px;
}
/* header-bottom */
.header-bottom {
  position: relative;
  z-index: 1;
}
.header-bottom .backgorund {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.header-bottom-inner {
  height: 99px;
  display: flex;
}
.main-menu {
  margin: 0 auto;
}
.main-menu > ul {
  display: flex;
  align-items: center;
}
.main-menu > ul > li {
  margin-right: 22px;
}
.main-menu > ul > li:last-child {
  margin-right: 0;
}
.main-menu > ul > li.logo-li {
  padding-right: 10px;
}
.main-menu > ul > li > a {
  font-size: 15px;
  padding: 6px 25px 6px;
  min-width: 110px;
  border-radius: 5px;
  font-weight: 400;
  background: #111111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.8px;
  border: 2px solid transparent;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover,
.main-menu > ul > li > a.active {
  border-color: #7E80D8;
  background: var(--theme__color1);
}
.main-menu > ul > li > a.icon-a {
  min-width: 0;
  padding: 6px 7px 6px;
} 
.header-logo {
  padding: 0 !important;
  background: transparent !important;
  border-color: transparent !important;
}
.header-logo img {

}

.header-user {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
}
.header-user > a {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
}
.header-user > a > .chevron {
  font-size: 12px;
  margin: 0 0 0 5px;
}
.header-user > a > .image {
  height: 30px;
  width: 30px;
  margin: 0 0 0 6px;
  border-radius: 5px;
}
.header-user > a > .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
/* header-end */



/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  background: url('images/BackgroundSingle.png') no-repeat center center/cover;
  overflow: hidden;
  flex-shrink: 0;
}
.hero-section-inner {
  position: relative;
  z-index: 1;
}
.hero-char {
  position: absolute;
  right: 0;
  z-index: -1;
}
.hero-char1 {
  right: 0;
  left: -25px;;
  top: 50%;
  transform: translate(0,-45%);
}
.hero-char2 {
  right: 120px;
  top: 50%;
  transform: translate(0,-38%);
}
.hero-char3 {
  right: -110px;
  top: 50%;
  transform: translate(0,-50%);
}
.hero--short .hero-char1 {
	right: 0;
	left: 35px;
	top: 50%;
	transform: translate(0,-52.5%);
	width: 255px;
}
.hero--short .hero-char2 {
  width: 315px;
  right: 170px;
  top: 50%;
  transform: translate(0,-39%);
}
.hero--short .hero-char3 {
  width: 127px;
  right: -10px;
  top: 50%;
  transform: translate(0,-39%);
}


.hero-content {
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-content.hero-content--short {
  height: 170px;
}
.hero-inc-btn {
  width: 300px;
  border-radius: 5px;
  background: var(--dark__background);
  color: #fff;
  transition: 0.3s;
}
.hero-inc-btn:hover {
  background: #000;
}
.hero-inc-btn:hover .top1 {
  background: #373add;
}
.hero-inc-btn .top1 {
  padding: 14px 20px 10px 20px;
  background: var(--theme__color1);
  color: #fff;
  box-shadow: 0px 0px 68px 0px rgba(70, 73, 199, 0.85);
  border-radius: inherit;
  position: relative;
  display: block;
  transition: 0.3s;
}

.hero-inc-btn .top1 .play-img {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 42px;
  transform: translate(0,-50%);
  filter: brightness(0) invert(1);
  opacity: 0.4;
}
.hero-inc-btn:hover .top1 .play-img {
  filter: brightness(0) invert(1);
  opacity: 1;
  transition: 0.3s;
}
.hero-inc-btn .top1 .texts {
  text-align: center;
}
.hero-inc-btn .top1 .texts h2 {
  font-size: 35.33px;
  margin: 0;
  letter-spacing: 0.6px;
  line-height: 1;
  font-weight: 400;
}
.hero-inc-btn .top1 .texts h4 {
  font-size: 14.19px;
  font-weight: 400;
  opacity: 0.35;
  margin: 0;
}
.hero-inc-btn .bt-versions {
  display: flex;
}
.hero-inc-btn .bt-versions .single {
  padding: 3px;
  flex-grow: 1;
  text-align: center;
  transition: 0.3s;
  border-radius: 0 0 5px 5px;
  display: block;
}
.hero-inc-btn .bt-versions .single:hover,
.hero-inc-btn .bt-versions .single.active {
  background: #272727;
}
/* ---hero-section---end */



/* ---news-section--- */
.news-section {
  flex-grow: 1;
  padding: 23px 0;
  background: url('images/news-background.png') no-repeat center center/cover;
  color: #fff;
}
.news-section-inner {

}
.news-title {
  margin: 0 0 18px;
  text-align: center;
}
.news-title h2 {
  font-size: 22px;
  color: #bebebe;
}

.news-wrapper {
  --inner-space: 35px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
}
.news-single {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
  background: var(--theme__color1);
  border-radius: 5px;
}
.news-single .image-txt {
  height: 174px;
  border-radius: inherit;
  background: var(--dark__background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
.news-single .image-txt .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: invert(1);
  opacity: 0.1;
}
.news-single .image-txt .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
  border-radius: inherit;
}
.news-single .image-txt .bg-img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.news-single .image-txt .loading-text {
  font-size: 30.01px;
  color: rgba(255, 255, 255, 0.1);
  letter-spacing: 0.6px;
}
.news-single .image-txt .h2b {
  font-size: 56.73px;
  margin: 0;
  line-height: 1;
}
.news-single .image-txt .pill {
  font-size: 25.75px;
  padding: 4px 8px;
  border-radius: 6px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  font-weight: 700;
  letter-spacing: 0.1px;
}
.news-single .bottom {
  padding: 2px 10px 5px;
}
.news-single .bottom h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
/* ---news-section---end */


/* ---footer-section--- */
.footer-section {
  background: var(--dark__background);
}
.footer-section .container {
  padding: 0 25px;
  max-width: 100%;
}
.footer-section-inner {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-right {
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}
.copy-right .img1 {
  width: 31px;
  margin: 0 5px 0 0;
  filter: grayscale(1) invert(1);
  opacity: 0.3;
}
.copy-right .img2 {
  width: 17px;
  margin: 0 5px 0 0;
  filter: grayscale(1) invert(1);
  opacity: 0.2;
}

.fs-menu {
  display: flex;
}
.fs-menu li {
  margin-right: 36px;
}
.fs-menu li:last-child {
  margin-right: 0;
}
.fs-menu li a {
  filter: brightness(0) invert(1);
  opacity: 0.25;
  transition: 0.3s;
}
.fs-menu li a:hover {
  opacity: 1;
}

.footer-right-p {
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}
/* ---footer-section---end */



/* ---g-account-section--- */
.g-account-section {
  flex-grow: 1;
  padding: 27px 0 0;
  background: url('images/background.png') no-repeat center center/cover;
  color: #fff;
  flex-direction: column;
  display: flex;
}
.g-account-section .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.g-account-section-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.g-account-title {
  margin: 0 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.g-account-title h2 {
  font-size: 22px;
  margin: 0 0 7px;
  color: #bebebe;
}
.add-button-x {
  padding: 6px 20px 4px;
  font-size: 12px;
  line-height: 1.3;
  background: var(--theme__color1);
  border: 2px solid var(--theme__color1-lt);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.add-button-x:hover {
  background: #373ADD;
}
.add-button-x .add-img {
  margin: 0 5px 0 0;
}

.g-games-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 0;
	flex-grow: 1;
	overflow: auto;
	width: 670px;
	align-items: center;
	padding-bottom: 20px;
}
.g-game {
  width: 525px;
  padding: 18px 22px;
  margin: 0 0 11px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(19, 19, 19);
  box-shadow: inset 0px 0px 28px 12px rgba(14, 14, 14, 0.54);
  position: relative;
  z-index: 1;
  transition: 300ms cubic-bezier(0.375, 0.880, 0.505, 0.910);
}
.g-game:hover {
  background-color: rgb(106, 108, 214);
  box-shadow: 0px 0px 47.88px 9.12px rgba(70, 73, 199, 0.74),inset 0px 0px 11.2px 4.8px rgba(134, 136, 239, 0.004);
}
.g-game.g-game-active {
  background-color: rgb(106, 108, 214);
  box-shadow: 0px 0px 47.88px 9.12px rgba(70, 73, 199, 0.74),inset 0px 0px 11.2px 4.8px rgba(134, 136, 239, 0.004);
}

.g-game .image {
  width: 53px;
  height: 53px;
  border-radius: 10px;
  flex-shrink: 0;
}
.g-game .image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.g-game .text-clm {
  padding: 0 12px;
  flex-grow: 1;
}
.g-game .text-clm h3 {
  font-size: 26px;
  margin: 0 0 3px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.g-game .text-clm h3 .g-game-active-bdg {
  margin-left: 13px;
}
.g-game-active-bdg {
  padding: 3px 10px 4px;
  font-size: 12.5px;
  min-width: 95px;
  border-radius: 7px;
  background-color: rgb(46, 48, 132);
  box-shadow: 0px 0px 18.48px 5.52px rgba(162, 163, 237, 0.54),inset 0px 0px 12.6px 5.4px rgba(20, 21, 80, 0.41);
  letter-spacing: 0.5px;
  font-weight: 400;
  text-align: center;
}
.g-game .text-clm h5 {
  font-size: 16px;
  margin: 0;
  color: #ADAFFF;
}

.g-game .ib-column {
  display: flex;
  align-items: center;
}
.g-game .ib-column .ib {
  margin-right: 4px;
  filter: brightness(0) invert(1);
  opacity: 0.2;
  transition: 0.3s;
}
.g-game .ib-column .ib:hover {
  /* filter: brightness(1) invert(0); */
  opacity: 1; 
}
.g-game .ib-column .ib:last-child {
  margin-right: 0;
}
/* ---g-account-section---end */


/* ---about-section--- */
.about-section {
  flex-grow: 1;
  padding: 30px 0;
  background: url('images/background.png') no-repeat center center/cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.about-section .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.about-section-inner {
  margin: auto 0;
}
.about-section-title {
  margin: 0 0 40px;
  text-align: center;
}
.about-section-title h2 {
  font-size: 22px;
  margin: 0 0 8px;
  color: #bebebe;
}
.about-section-title p {
  font-size: 18px;
  line-height: 1.2;
  color: #8b8b8b;
}

.abs-button-rw1 {
  margin: 0 0 18px;
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abs-button-rw1 .button {
  margin: 0 16px;
}
.abs-button-rw1 .button:last-child {

}

.abs-button-rw2 {
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abs-button-rw2 .button {
  margin: 18px;
}
.abs-button-rw2 .button:last-child {

}
/* ---about-section---end */



/* ---settings-section--- */
.settings-section {
  flex-grow: 1;
  padding: 30px 0;
  background: url('images/background.png') no-repeat center center/cover;
  color: #fff;
}
.settings-section .container {
  max-width: 1146px;
}
.settings-section-inner {

}
.settings-section-title {
  text-align: center;
}
.settings-section-title h2 {
  font-size: 22px;
  color: #bebebe;
}

.settings-rw1 {
  --inner-space: 28px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
}
.setting-box {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
  padding: 34px 30px;
  border-radius: 5px;
  background-color: rgb(19, 19, 19);
  box-shadow: inset 0px 0px 43.4px 18.6px rgba(17, 17, 17, 0.004), 0px 0px 40px 0px rgba(70, 72, 199, 0.281);
}


.st-bx-title {
  margin: 0 0 17px;
  text-align: center;
}
.st-bx-title h3 {
  margin: 0 0 6px;
  font-size: 23.91px;
  color: #C4C5F5;
}
.st-bx-title h3 .f-img {
  display: inline-block;
  margin: 0 4px 0 0;
}
.st-bx-title p {
  font-size: 12px;
  margin: 0;
  opacity: 0.3;
}


.stn-launcher-v {
  --inner-space: 16px;
  --bt-space: var(--inner-space);
  --item: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
  max-width: 275px;
  margin: 0 auto;
}
.stn-launcher-v-option {
  height: 80px;
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
  border-radius: 5px;
  background-color: rgb(17, 17, 17);
  box-shadow: inset 0px 0px 20.3px 8.7px rgba(10, 10, 10, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.stn-launcher-v-option .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  background-color: rgb(70, 73, 199);
  box-shadow: 0px 0px 51.33px 7.67px rgba(70, 73, 199, 0.29),inset 0px 0px 20.3px 8.7px rgba(112, 114, 237, 0.6);
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}
.stn-launcher-v-option .checkbox:checked ~ .bg {
  opacity: 1;
}

.stn-launcher-v-option .icon {
  margin: 0 0 5px;
}
.stn-launcher-v-option h4 {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.stn-mrm-rng {
  max-width: 250px;
  margin: 0 auto;
  padding: 30px 0 0;
  text-align: center;
}
.stn-mrm-rng .ui-slider {
  margin: 0 0 17px;
}
.stn-mrm-rng h3 {
  font-size: 22px;
  margin: 0 0 4px;
  color: #C4C5F5;
  text-align: center;
}
.stn-mrm-rng h3 .small-t {
  font-size: 11px;
}
.stn-mrm-rng p {
  font-size: 12px;
  margin: 0;
  opacity: 0.3;
  text-align: center;
}

.stn-reso {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stn-res-set-rw {
  display: flex;
}
.stn-res-set-rw .mdl-times {
  align-self: flex-end;
  margin: 0 16px 7px;
}
.stn-res-set-inp-outer {

}
.stn-res-set-inp-outer h4 {
  font-size: 12px;
  margin: 0 0 2px;
  text-align: center;
  color: #AAABD8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stn-res-set-inp-outer h4 .f {
  margin: 0 4px 0 0;
}
.stn-res-set-inp-outer .input {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background: #131314;
  border: 2px solid var(--theme__color1);
  color: #fff;
  box-shadow: 0px 0px 40.81px 3.19px rgba(73, 76, 201, 0.5);
  color: #AAABD8;
  text-align: center;
}
.stn-reso .add-button-x {
  margin: 15px 0 0;
  width: 120px;
  display: inline-flex;
}
/* ---settings-section---end */